---
let menuItems = ['about', 'skills', 'projects'];
---

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        {
            menuItems.map((menuItem) => (
                <li>
                    <a href={`/${menuItem}`}>{menuItem}</a>
                </li>
            ))
        }
    </ul>
</nav>
<style>
    a {
        text-transform: capitalize;
    }
</style>
