---
import { socials } from '@components/footer/socials';
---

<style>
    footer {
        display: flex;
        gap: 2rem;
        margin-top: 2rem;
        margin-right: 12rem;
        align-items: center;
        justify-content: flex-end;
    }
    .social-button {
        display: flex;
        align-items: center;
        padding: 2px 8px;
        font-size: 16px;
        cursor: pointer;
        color: var(--primary-dark-color);
        border: solid 1px var(--primary-dark-color);
        border-radius: 20px;
        text-decoration: none;
    }
    .social-img {
        height: 24px;
        width: 24px;
        padding-right: 4px;
        filter: brightness(0) saturate(100%) invert(5%) sepia(60%) saturate(803%) hue-rotate(114deg) brightness(96%) contrast(102%);
    }
    .social-button p {
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
    }
    .social-button:hover {
        color: white;
        background-color: var(--accent-color);
        border: solid 1px var(--accent-color);
        transition: all 0.25s ease-in-out;
    }
    .social-button:hover img {
        filter: invert(93%) sepia(7%) saturate(28%) hue-rotate(320deg)
            brightness(107%) contrast(106%);
        transition: all 0.25s ease-in-out;
    }
</style>

<footer>
    {
        socials.map((social) => (
            <a class="social-button" href={`${social.site}`} target="_blank">
                <img
                    class="social-img"
                    src={`/images/${social.platform}.svg`}
                    alt={`${social.platform}`}
                />
                <p>{`${social.platform}`}</p>
            </a>
        ))
    }
</footer>